// Menu wrapper
.menu-list {
    width: 223px;

    .menu-item {
        margin-left: 0;
    }

    .menu-popper {
        max-height: none;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-body {
    overflow-y: auto;
}

// Menu items
.menu-item {
    --height: 42px;
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    padding: 11px 15px 11px 13px;
    font-weight: 600;
    color: #161823;
    line-height: 1.8rem;
    height: var(--height);

    span {
        margin-right: -2px;
    }

    &.separate {
        height: calc(var(--height) + 1px);
        border-top: 1px solid #1618231f;
    }

    &:hover {
        background-color: #16182308;
    }
}

//Header
.header {
    margin-top: -8px;
    position: relative;
    height: 50px;
    flex-shrink: 0;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
